#projects {
  background-color: var(--gray-200);
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family2);
  margin-bottom: 56px;
  h2 {
    color: var(--red-color);
    font: var(--subtitle);
    margin-top: 72px;
    margin-bottom: 8px;
  }
  h1 {
    font: var(--title-md);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1040px;
  height: 684px;
  padding: 0 150px 0 150px;
  gap: 36px;
  width: 100%;
}

.gallery_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 12px;
  gap: 20px;
  width: 330px;
  height: 280px;
  background: var(--gray-300);

  img {
    width: 306px;
    height: 156px;
    border-radius: 8px;
    padding: 4px;
  }

  h1 {
    width: 100%;
    font: var(--title-sm);
    color: var(--gray-600);
    text-align: left;
    padding-left: 4px;
  }

  p {
    font: var(--text-sm);
    color: var(--gray-500);
    margin-top: -8px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
